In [5]:
import requests
import pandas as pd

In [6]:
# Load the movie metadata from the TSV file into a DataFrame
movie_metadata = pd.read_csv('Data/movie.metadata.tsv', sep='\t')

# Add headers to the DataFrame
movie_metadata.columns = [
    'Wikipedia movie ID', 'Freebase movie ID', 'Movie name', 'Movie release date', 
    'Movie box office revenue', 'Movie runtime', 'Movie languages (Freebase ID:name tuples)', 
    'Movie countries (Freebase ID:name tuples)', 'Movie genres (Freebase ID:name tuples)'
]

In [13]:

def get_movie_info(collection_id):
    url = "https://api.themoviedb.org/3/collection/"+collection_id+"?language=en-US"

    headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI3OGJmOTg2MDNmNzAxMWFkNzIxY2U2YzQxNmU2ZmU5YyIsIm5iZiI6MTczMDQ1NDg3OC45MjYxMTQzLCJzdWIiOiI2NzIyM2YzMjk5MWVkYjAzNWM1ZjcxYTgiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.WqYMppz7q7pFgIIvK3cEbLJspnXM90LqkCMN2xl4r1E"
    }   

    response = requests.get(url, headers=headers)
    data = response.json()
    dataframe=pd.DataFrame(data['parts'])
    return dataframe

In [14]:
get_movie_info('10')

,backdrop_path,id,title,original_title,overview,poster_path,media_type,adult,original_language,genre_ids,popularity,release_date,video,vote_average,vote_count
0,/zqkmTXzjkAgXmEWLRsY4UpTWCeo.jpg,11,Star Wars,Star Wars,Princess Leia is captured and held hostage by ...,/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg,movie,False,en,"[12, 28, 878]",81.754,1977-05-25,False,8.204,20511
1,/aJCtkxLLzkk1pECehVjKHA2lBgw.jpg,1891,The Empire Strikes Back,The Empire Strikes Back,"The epic saga continues as Luke Skywalker, in ...",/nNAeTmF4CtdSgMDplXTDPOpYzsX.jpg,movie,False,en,"[12, 28, 878]",41.615,1980-05-20,False,8.392,16862
2,/7dRclUQeG8kxadrXn7BcwnxZvh5.jpg,1892,Return of the Jedi,Return of the Jedi,Luke Skywalker leads a mission to rescue his f...,/jQYlydvHm3kUix1f8prMucrplhm.jpg,movie,False,en,"[12, 28, 878]",36.296,1983-05-25,False,7.898,15578
3,/3TeGmKJfkik1D1rIoqGb1aR4k9c.jpg,1893,Star Wars: Episode I - The Phantom Menace,Star Wars: Episode I - The Phantom Menace,"Anakin Skywalker, a young slave strong with th...",/6wkfovpn7Eq8dYNKaG5PY3q2oq6.jpg,movie,False,en,"[12, 28, 878]",39.421,1999-05-19,False,6.555,14512
4,/abwxHfymXGAbbH3lo9PDEJEfvtW.jpg,1894,Star Wars: Episode II - Attack of the Clones,Star Wars: Episode II - Attack of the Clones,Following an assassination attempt on Senator ...,/oZNPzxqM2s5DyVWab09NTQScDQt.jpg,movie,False,en,"[12, 28, 878]",37.854,2002-05-15,False,6.568,13138
5,/5vDuLrjJXFS9PTF7Q1xzobmYKR9.jpg,1895,Star Wars: Episode III - Revenge of the Sith,Star Wars: Episode III - Revenge of the Sith,The evil Darth Sidious enacts his final plan f...,/xfSAoBEm9MNBjmlNcDYLvLSMlnq.jpg,movie,False,en,"[12, 28, 878]",42.110,2005-05-17,False,7.433,13625
6,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,140607,Star Wars: The Force Awakens,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,movie,False,en,"[12, 28, 878]",60.113,2015-12-15,False,7.274,19262
7,/jn52me8AagfNt7r84SgQbV0R9ZG.jpg,181812,Star Wars: The Rise of Skywalker,Star Wars: The Rise of Skywalker,The surviving Resistance faces the First Order...,/db32LaOibwEliAmSL2jjDF6oDdj.jpg,movie,False,en,"[12, 28, 878]",62.447,2019-12-18,False,6.316,9837
8,/5Iw7zQTHVRBOYpA0V6z0yypOPZh.jpg,181808,Star Wars: The Last Jedi,Star Wars: The Last Jedi,Rey develops her newly discovered abilities wi...,/kOVEVeg59E0wsnXmF9nrh6OmWII.jpg,movie,False,en,"[12, 28, 878]",60.670,2017-12-13,False,6.791,15193

In [8]:
import re

# Function to normalize movie titles by removing non-letter characters but keeping numbers
def normalize_title(title):
    return re.sub(r'[^a-zA-Z0-9]', '', title).lower()

# Create a dictionary to map normalized titles to collection ID
title_to_collection_id = {normalize_title(title): collection_id for title in movie_titles}

# Add a new column 'Collection ID' to the movie_metadata DataFrame
movie_metadata['Collection ID'] = movie_metadata['Movie name'].apply(lambda x: title_to_collection_id.get(normalize_title(x), None))

print(movie_metadata[['Movie name', 'Collection ID']].head())

                                          Movie name Collection ID
0  Getting Away with Murder: The JonBenét Ramsey ...          None
1                                        Brun bitter          None
2                                   White Of The Eye          None
3                                  A Woman in Flames          None
4                                      The Gangsters          None

In [ ]:
collection=pd.read_json('Data/collection_ids_10_31_2024.json', lines=True)